@page "/movies"

<h1>Movies</h1>

@if (Movies == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="mb-3 d-flex justify-content-between align-items-center">
        <!-- Filter Dropdown -->
        <select @onchange="OnGenreFilterChanged" class="form-select w-auto">
            <option value="">All Genres</option>
            @foreach (var genre in Enum.GetValues<MovieGenre>())
            {
                if(genre == MovieGenre.None)
                    continue;

                <option value="@genre">@genre</option>
            }
        </select>
    </div>

    <div class="d-flex flex-wrap vw-100">
        @if (Movies.Count == 0)
        {
            <p><em>No movies found.</em></p>
        }
        else
        {
            <div class="item-list">
                @if (FilteredMovies().Any())
                {
                    @foreach (var movie in FilteredMovies())
                    {
                        <MovieListItem Movie="movie" OnDetails="NavigateToDetails" />
                    }
                }
                else
                {
                    <p>No movies match the selected genre.</p>
                }
            </div>
        }
    </div>
}
