<div class="card" style="width: 18rem; margin: 10px;">
    <img src="#" class="card-img-top" alt="@Movie.Title" />
    <div class="card-body">
        <h5 class="card-title">@Movie.Title</h5>
        <p class="card-text">@Movie.Description</p>
        <button class="btn btn-primary" @onclick="OnDetailsClick">Details</button>
    </div>
</div>